@import '../../Assets/Style/variables';
@import '../../Assets/Style/utilities';

.notFound {
  h2,
  h4 {
    font: {
      weight: 700;
      size: 46px; 
    }
    color: $theme-color;
    text-shadow: 10px 10px 10px rgba(0,0,0,0.8);
  }

  h4 {
    letter-spacing: 5px;
  }

  img {
    @include prefix(filter, brightness(0.5));
    max-width: 70%;

    @include media-breakpoint-up(sm) {
      max-width: 50%;
    }

    @include media-breakpoint-up(md) {
      max-width: 30%;
    }
  }
}