@import '../../Assets/Style/utilities';

.card {
  text-align: center;
  border: 0;
  box-shadow: 0 1rem 3rem #0000002d !important;

  @include media-breakpoint-up(lg) {
    width: 80%;
    margin: auto;
  }
}